/* お寺ホームページのCSS */
body {
    /* color: #2e8b57; */
    /* color: #D5C8A0; */
    background-color: #AD96AD;
}

h1 {
    text-align: center;
    color: white;
    /* border-width: 1px 4em 0em 4em; */
    border-width: 4px 4px;
    border-style: solid;
    border-color: #2e8b57;
    padding: 10px;
}

#container {
    width: 1000px;
    margin: 0 auto;

    content: "";
    clear: both;
    display: block;
}

.templeList {
    
    /* padding-right: 10px; */

    padding: 0px 10px;
    
    width: 160px;
    float: left;

    background-color: rgba(255,255,255,0.3);
}

.templeList ul {
    padding-left: 0px;
    list-style: none;
}

.templeList li {
    
}

.localNav ul {
    list-style: none;
}

.mainArticle {
    
    padding: 0px 10px;
    
    width: 510px;
    float: left;
}

#copyright {
    content: "";  
    display: block;  
    clear: both;
}

.localNav {
    margin: 20px auto;
}

.localNav ul {
    margin: 0;
    padding: 0;
}

.localNav ul:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.localNav ul li {
    list-style: none;
    width: 122.5px;
    float: left;
    /* border-left: solid 1px #CCCCCC; */
    /* padding: 0 5px; */
    
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.429;
    
    background-color: rgba(255,255,255,0.3);
    padding: 10px;
}

/* ページ内の表 */
.tableContainar {
    /* float: left; */
}

.tableContainar table {
    /* width: 100px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* background-color: rgba(255,255,255,0.6); */
    
}

.tableContainar td {
    padding: 5px;
    background-color: rgba(255,255,255,0.3);
}

.tableContainar th {
    padding: 5px;
    background-color: rgba(255,255,255,0.3);
}

.tableContainar img {
    margin: 10px;
}