/* お寺ホームページのCSS */
body {
    /* color: #2e8b57; */
    /* color: #D5C8A0; */
    background-color: #AD96AD;

    background-image: url(../img/backgroundImage.png);
    
    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    line-height: 1.5em;
}

h1 {
    text-align: center;
    color: white;
    /* border-widtnh: 1px 4em 0em 4em; */
    border-width: 4px 4px;
    border-style: solid;
    border-color: #2e8b57;
    padding: 10px;

    background-color: #2e8b57;
    /* background-color: #7BA21A; */
}

#container {
    width: 1000px;
    margin: 0 auto;

    content: "";
    clear: both;
    display: block;
}

/* スライドショー */

.slideshow {
    position: relative;
}

.slideshow img {
    vertical-align: bottom;
}

.slideshow ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slideshow ul li {
    position: relative;
}

.slideshow .bxsliderText {
    position: absolute;
    left: 50px;
    bottom: 50px;
    
    
    
    /* background-color: rgba(0,0,0,0.4); */
    background-color: rgba(255,255,255,0.7);
    width: 400px;
    padding: 15px 25px;
    -mos-box-sizing: border-box;
    box-sizing: border-box;
}

.slideshow .bxsliderText h2 {
    font-size: 26px;
    line-height: 1.231;
    margin: 0;
}

.slideshow .bxsliderText p {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 0;
}

/* お寺リストリンク */

.templeList {
    
    /* padding-right: 10px; */

    padding: 0px 10px;
    
    width: 160px;
    float: left;

    background-color: rgba(255,255,255,0.3);
}

.templeList ul {
    padding-left: 0px;
    list-style: none;
}

.templeList li {

    margin-top: 10px;
    margin-bottom: 10px;
}

.templeList a {
    text-decoration: none;
    /* color: #2e8b57; */
    color: #ce5242;
    
    /* font-weight: bold; */
    display: block;

    text-shadow: 2px 2px 1px #999999;
    
}

/* main article */

.mainArticle {

    background-color: rgba(255,255,255,0.3);
    
    /* padding: 0px 10px; */
    margin: 0px 10px;
    
    width: 510px;
    float: left;

    
}

.mainArticleChar {
    padding: 0px 20px;
}

.mainArticleCharTitle {
    
    border-left: 10px solid #2e8b57;
    padding-left: 10px;
}

.mainArticleChar p {
    padding-bottom: 20px;
}

.mainArticle img {
    width: 350px;
    display: block;
    margin: 0 auto;
    
}

.mainArticle ul {
    list-style: none;
}

.mainArticle li {
    font-size: 20px;
    font-weight: bold;
    
    border-left: 5px solid #ce5242;
    padding-left: 10px;
}

/* sub article */

.subArticle {
    background-color: rgba(255,255,255,0.3);
    margin: 0px 10px;
    width: 800px;
    float: left;
}

.subArticleChar {
    padding: 0px 20px;
}

.subArticleCharTitle {
    
    border-left: 10px solid #2e8b57;
    padding-left: 10px;
}

.subArticleChar p {
    padding: 0px 20px;
}

.subArticle img {
    float: right;
}

.subArticle img:after {
    content: "";  
    display: block;  
    clear: both;
}

#copyright {
    
    padding-top: 20px;
    content: "";  
    display: block;  
    clear: both;

    text-align: right;
}

.localNav {
    margin: 20px auto;
    /* background-color: rgba(255,255,255,0.3); */
    background-color: rgba(238,130,124,0.8);
    
}

.localNav .selected {
    /* background-color: rgba(238,130,124,0.8); */
    background-color: rgba(255,255,255,0.3);
}

.localNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.localNav ul:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.localNav ul li {
    list-style: none;
    width: 333.33px;
    float: left;
    /* border-left: solid 1px #CCCCCC; */
    /* padding: 0 5px; */
    
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.429;
    
    /* background-color: rgba(255,255,255,0.3); */
    padding: 10px;

    text-align: center;
    
}

.localNav ul li:nth-child(2n) {
    /* background-color: rgba(255,255,255,0.3); */
    /* background-color: rgba(238,130,124,0.8); */
}

.localNav ul li:nth-child(2n+1) {
    /* background-color: rgba(46,139,87,0.3); */
    /* background-color: rgba(255,255,255,0.3); */
}

.localNav a {
    /* text-align: center; */
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: white;
    
}

/* ページ内の表 */
.tableContainar {
    /* float: left; */
}

.tableContainar table {
    /* width: 100px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* background-color: rgba(255,255,255,0.6); */
    
}

.tableContainar td {
    padding: 5px;
    /* background-color: rgba(255,255,255,0.3); */
}

.tableContainar th {
    padding: 5px;
    /* background-color: rgba(255,255,255,0.3); */
}

.tableContainar tr:nth-child(2n) {
    background-color: rgba(255,255,255,0.3);
}

.tableContainar tr:nth-child(2n+1){
    background-color: rgba(46,139,87,0.3);
}

.tableContainar img {
    margin: 10px;
}

/* サブページ */
